mixin block-form (direction, phone, time, mail, facebook )
    section.contact
        h2.contact__title Contacto
            hr.contact__hr
        form(action="#" onsubmit="return false" method="post").contact__form
            input(type="text" placeholder="Nombre" name="Nombre") 
            input(type="tel" placeholder="Teléfono" name="Telefono") 
            input(type="mail" placeholder="Dirección de correo electrónico" name="Telefono")
            button Enviar
        div.contact__info
            div.data 
                p.data__direction= direction
                p
                    i.fas.fa-phone
                    span.data__phone= phone 
                p
                    i.fab.fa-whatsapp
                    span= whatsapp  
                p.data__mail
                    span.webSymbols @
                    span.data__mail= mail 
                p
                    span.webSymbols P
                    span.data__time= time
                //p
                //    a(href= facebook): span.webSymbols f 

            iframe.googlemap(src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d940.9770684884932!2d-99.1229427305224!3d19.373123998868362!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMTnCsDIyJzIzLjMiTiA5OcKwMDcnMjAuMyJX!5e0!3m2!1ses-419!2smx!4v1694939071811!5m2!1ses-419!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade")