mixin block-product-recauderia (productData, pageData)
    section.wrap-product 
        div.product__data
            each data in pageData
                h2!= data.title 
                hr
                h3!= data.subtitle
                span
                    p!= data.descripcion
                    p!= data.comunicate
                    //p  
                        parrafo para insertar catalogo
                        a(href="./assets/catalogos/catalogo-cervezas.pdf" target="_blank") Cátalogo de cervezas.pdf 
        
        div.product__container
            each product in productData 
                div.product-box
                    div.product-box--img
                        img(src= product.imglink)
                    div.product-box--data
                        span
                            p!= '<strong>Producto: </strong> ' + product.title
                             