mixin block-product-lineaBlanca (productData, pageData)
    section.wrap-product 
        div.product__data
            each data in pageData
                h2!= data.title 
                hr
                h3!= data.subtitle
                span
                    p!= data.descripcion
                    p!= data.comunicate
                    p 
                        a(href="./assets/catalogos/catalogo-lineaBlanca.pdf" target="_blank") Cátalogo de Línea Blanca.pdf 
        div.product__menu
            div(category='all' class='category-menu'): p Todos
            each data in productData
                div(category=data.value  class='category-menu'): p= data.categoria
        div.wrap-list
            each data in productData
                div(category=data.value).product__section-title.product__data
                    h2= data.categoria
                    hr
                div(category=data.value).product__container
                    each product in data.productos
                        div.product-box(category=data.value)
                            div.product-box--img
                                img(src= product.linkImg)
                            div.product-box--data
                                span
                                    p 
                                        strong Descripción: 
                                        br
                                        = product.nombre                  
                                    p 
                                        strong Marca:
                                        br 
                                        = product.marca                    
                                    p 
                                        strong Modelo:
                                        br  
                                        = product.modelo                    